{% extends 'base.html.twig' %}

{% block title %}S'inscrire
{% endblock %}

{% block body %}
{% for flash_error in app.flashes('verify_email_error') %}
	<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}
<div class="card p-4">
	<div class="card-body">
		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.username) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.password) }}
		{{ form_row(registrationForm.roles) }}
		{{ form_widget(registrationForm.submit, {'label': 'Ajouter l\'utilisateur'}) }}
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
